.video-container {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Capa de transparencia regulable */
.video-overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.685); /* Aquí ajustas la opacidad */
  z-index: 2;
}

.video-overlay {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  padding: 20px;
  max-width: 1200px;
}